    </section>

    <footer>
      Drone is a product of
        <a href="http://www.github.com/Dasheroo">Dasheroo</a> and
        <a href="http://www.github.com/JamesRyanATX">JamesRyanATX</a>
      and is free to use under the MIT license.
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script type="text/javascript">
      window.deferred.forEach(function (fn) { fn(); });
    </script>
  </body>
</html>